<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Patterns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="/css/main.css">

		<!-- Typekit -->
		<script type="text/javascript" src="//use.typekit.net/dgj5kmn.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
	</head>
	<body>
		<%= yield %>

		<!-- jQuery & Bootstrap -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
	</body>
</html>